/* GENERAL RULES */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container{
  margin: auto;

}

/* HEADER STRUCTURES */
header{
  background-color: #0D325A;
  /* height: 100px; */
  position: relative;
}

header .navlogo{
  display: inline-block;
}

header .navlinks{
  display: inline-block;
}

header .navlinks ul{
    list-style-type: none;
    overflow: hidden;
}
header .navlinks ul:after{
  content: "";
  display: table;
  clear: both;
}

header .navlinks ul li{
  float: left;
  text-align: center;
}


header .navlinks ul li a{
  color: white;
  text-decoration: none;
  display: block;
  line-height: 50px;
  text-transform: uppercase;
}


/* / HEADER STRUCTURES */
