/* GENERAL RULES */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.container{
  margin: auto;
}

/* HEADER STRUCTURES */
header{
  background-color: #0D325A;
  /* height: 100px; */
  position: relative;
}

nav::after{
  content: "";
  display: table;
  clear: both;
}

header .navlogo{
  display: block;
  float: left;
}

header .navlinks{
  float: left;
  display: block;
}

header .navlinks ul{
    list-style-type: none;
    overflow: hidden;
}
header .navlinks ul:after{
  content: "";
  display: table;
  clear: both;
}

header .navlinks ul li{
  float: left;
  text-align: center;
}

header .navlinks ul li a{
  color: white;
  display: block;
  line-height: 50px;
}

header .navlogin{
  float: right;
  display: block;
  line-height: 50px;
}

header .navlogin .navlogincontainer {

}

header .navlogin .navlogincontainer .label {
  display: inline-block;
}

header .navlogin .navlogincontainer .loginbutton{
  display: inline-block;
}
header .navlogin .navlogincontainer .loginstruttura{
  display: inline-block;
}

/* / HEADER STRUCTURES */
