/* GENERAL RULES */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
  background-color: #0D325A;
  font-weight: bold;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.container{
  margin: auto;
}

/* /GENERAL RULES */


/* HEADER STRUCTURES */
header{
  position: relative;
  padding: 15px;
  margin-right: 200px;
  margin-left: 150px;
}

nav::after{
  content: "";
  display: table;
  clear: both;
}

header .navlogo{
  display: block;
  float: left;
}

header .navlinks{
  float: left;
  display: block;
  margin-left: 100px;
}

header .navlinks ul{
    list-style-type: none;
    overflow: hidden;
}
header .navlinks ul:after{
  content: "";
  display: table;
  clear: both;
}

header .navlinks ul li{
  float: left;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

header .navlinks ul li a{
  color: white;
  display: block;
  line-height: 30px;
}

header .navlinks ul li a:hover{
  color: orange;
}

header .navlogin{
  float: right;
  display: block;
  line-height: 30px;
}

header .navlogin .navlogincontainer {

}

header .navlogin .navlogincontainer .label{
  display: inline-block;
}
header .navlogin .navlogincontainer .label a{
  color: gray;
}

header .navlogin .navlogincontainer .loginbutton{
  display: inline-block;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
header .navlogin .navlogincontainer .loginstruttura{
  display: inline-block;
  background-color: #7BBC00;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

/* / HEADER STRUCTURES */

/* SECTION CONTAINER PROPERTIES */

/* first section */
section.firstsection{
  height: 50vh;
  background-image: url("../img/oldman.png");
  overflow: hidden;
  padding: 130px 150px 0px 150px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 140% 0%;
}

section.firstsection .firsttitle h1{
  color: white;
  font-size: 40px;
}

section.firstsection .firstbutton {
  padding-top: 20px;
}
section.firstsection .firstbutton a{
  background-color: #7BBC00;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}
/* /first section */

/* second section */
section.secondsection{
  background-color: white;
  text-align: center;
  padding: 50px 25% 50px 25%;
  height: 20vh;
}

section.secondsection .secondcontainer h3{
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 20px;
}

section.secondsection .secondcontainer h4{
  font-weight: normal;
  color: gray;
  font-size: 14px;
  padding-bottom: 20px;
}
/* /second section */

/* third section */
.thirdsection{
  background-color: white;
}
.thirdsection .thirdcontainer{
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}
.thirdsection .thirdcontainer:after{
  content: "";
  display: table;
  clear: both;
}


/* firstfloat */

/* /SECTION CONTAINER PROPERTIES */


/* FOOTER STRUCTURES */
footer{
  background-color: #17406B;
  color: white;
}

footer .footercontainer{
  margin-right: 200px;
  margin-left: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footercontainer::after{
  content: "";
  display: table;
  clear: both;
}

footer .footercontainer .leftside{
  float: left;
  display: block;
}
footer .footercontainer ul{
  list-style-type: none;
}
footer .footercontainer ul li{
  line-height: 30px;
}
footer .footercontainer .leftside ul li a{
  color: #577494;
}
footer .footercontainer .leftside ul li a:hover{
  text-decoration: underline;
}
footer .footercontainer .rightside{
  float: right;
  display: block;
  text-align: right;
}


footer .footercontainer .rightside ul li p{
  color: #7E95AD;
  line-height: normal;
}
/* /FOOTER STRUCTURES */
